@using Synechron.EventsPortal_DEMO.Models;

@model List<Event>


@{
    ViewBag.Title = "Event List !";
}
<h1>@ViewBag.PageTitle</h1>
<hr />
<h6>@ViewBag.PageSubTitle</h6>
@if (Model.Count > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>EventId</th>
                <th>EventCode</th>

                <th>EventName</th>

                <th>Description</th>
                <th>Fee</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Event events in Model)
            {

                <tr>
                    <td>@events.EventId</td>
                    <td>@events.EventCode</td>
                    <td>@events.EventName</td>
                    <td>@events.Description</td>
                    <td>@events.Fee</td>

                    <td>
                        @Html.ActionLink("Show Details", "Details", new { id = events.EventId }, new { @class = "btn btn-info" })
                    </td>

                </tr>
            }
        </tbody>
    </table>

}

else
{
    <h1>Sorry ! we didn't find any Event Record </h1>
}







